@import "variables";

#about {
    z-index: 22;
    position: relative;
    box-shadow: $largescreen;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    margin-top: -4px;
    background-image: linear-gradient(45deg, rgba(46, 127, 240, 0), rgb(12 45 79 / 12%)), url(../img/bek10.gif);
    color: white;
    @media (max-width: 767px) {
        padding: 0;
    }
    h4 {
        background-color: $darkback;
        padding: 10px;
        margin-bottom: 15px;
        border-bottom: 2px solid $crvena;
        border-radius: 4px;
        color: white;
    }
    .about-screen {
        box-shadow: rgb(9 5 43 / 61%) 0px 2px 4px, rgb(9 5 43 / 50%) 0px 7px 13px -3px,
            rgb(9 5 43 / 42%) 0px -3px 0px inset, rgb(9 5 43 / 71%) -3px 11px 33px 4px;
        background: rgb(14 27 71 / 82%);
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 0 0 20px 0;
    }
}
#about-holder {
    margin-bottom: 60px;
    @media (max-width: 767px) {
        margin-bottom: 15%;
    }
}
.about-card {
    display: block;
    width: 32.3%;
    border-radius: 2px;
    color: white;
    background-color: $darkback;
    padding: 15px;
    border-radius: 6px;

    @media (max-width: 767px) {
        margin: 0 0 3% 0;
        width: 100%;
    }
    &:last-of-type {
        margin-bottom: 0 !important;
    }
    h5 {
        margin: 10px 0;
        padding-bottom: 5px;
    }
}
.about-cotainer {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.team {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 14px;
        margin: 10px 10px 0 0;
    }
    a {
        font-size: 13px;
    }

    .team-card {
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;

        @media (max-width: 767px) {
            width: 100%;
            &:last-of-type {
                margin-bottom: 0 !important;
            }
        }
        @media (min-width: 768px) {
            width: 48%;
        }
        @media (min-width: 1024px) {
            width: 24%;
        }
    }
}

.feat-holder {
    border: 2px solid black;
    padding: 20px 0;
    border-radius: 0 0 6px 6px;
    background-image: linear-gradient(45deg, rgb(6 12 32 / 84%), rgb(7 8 32 / 93%));
    @media (max-width: 776px) {
        padding: 10px;
        width: 90%;
        margin: auto;
        flex-direction: column;
    }
}
.features {
    
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    @media (max-width: 992px) {
        text-align: left;
        flex-direction: row;
    }
    @media (max-width: 776px) {
        display: flex;
        flex-direction: row;
    }
    h1 {
        text-align: left;
    }
    i {
        color: $ljuba;
        text-shadow: 0 0 7px #bdb7ff;
        text-align: left;
        border-radius: 50%;
        width: 50px;
        @media (min-width: 992px) {
            margin: auto;
            margin-bottom: 10px;
            display: flex;
            &::before {
                margin: auto;
            }
        }
        @media (max-width: 992px) {
            margin-left: 15%;
            flex-direction: row;
        }
        @media (max-width: 320px) {
            margin-left: 5%;
        }
    }
   
}
#partneri {
    padding: 40px 0;
    p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 5px;
        @media (max-width: 767px) {
            margin-top: 3px;
        }
    }

    img {
        margin: auto;
    }
    #carouselExampleIndicators {
        height: unset;
        img {
            display: block;
            margin: auto;
            height: 60px;
            @media (max-width: 767px) {
                height: 40px;
            }
        }
    }
    @media (max-width: 767px) {
    }
}
.tech-supp {
    margin-top: 30px;
    a {
        margin: auto;
        color: $plava;
        font-size: 1.4rem;
    }
}
