@import "variables";

.foot-h {
    color: $plava;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Orbitron";
    font-size: 2rem;
    text-shadow: $blockfont;
    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}
/* FOOTER -------------------------------------------------------------------------------------------------------*/
footer {
    @media (max-width: 767px) {
    }
    p {
        display: block;
        margin: auto;
    }
    img {
        color: white;
        font-size: 13px;
        display: block;
        margin: auto;
    }
    i {
        text-shadow: $blockfont;
        color: #275ea3;
        font-size: 28px;
    }
    .facelink {
        margin: auto;
        display: block;
        @media (max-width: 992px) {
            margin-bottom: 15px !important;
        }
        i {
            margin-right: 10px;
            font-size: 40px;
        }
    }
    h4 {
        text-shadow: $blockfont;
        text-align: center;
        margin-bottom: 15px;
        border-radius: 4px;
        font-family: "Orbitron";
        font-weight: bolder;
        color: #275ea3;
        @media (max-width: 767px) {
            margin-top: 0;
        }
    }
    .foot-div {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    a:hover,
    a i:hover {
        color: $crvena;
    }
}
#prava {
    color: $svetloplava;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}
#contact {
    @media (max-width: 767px) {
    }
}
.con-card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
    @media (max-width: 992px) {
        margin: 8px;
        padding: 8px;
    }
}
.con-item {
    margin-bottom: 15px;
    h6 {
        font-family: "Orbitron";
        color: #275ea3;
        width: fit-content;
        font-size: 1.2rem;
    }
    a,
    p,
    address {
        display: block;
        margin: 0;
        width: fit-content;
    }   
}
.mail a {
    @media (max-width: 992px) {
        font-size: 13px;
    }
}
#mapa {
    z-index: 0;
    width: 100%;
    border-radius: 6px;
    @media (max-width: 767px) {
        width: 100%;
    }
    iframe {
        border-radius: 6px;
        box-sizing: border-box;
        height: 370px;
        width: 100%;
        margin: auto;
        border: none;
    }
}
.dev-brend {
    position: relative;
    box-shadow: rgb(9 5 43 / 38%) 0px 3px 0px inset, rgb(9 5 43 / 39%) -3px -1px 10px 3px,
        rgb(9 5 43 / 14%) 0px -7px 2px -7px;
    background-image: $mainback;
    img {
        margin-top: 10px;
        width: 180px;
    }
}
