.foot-h {
  color: #275ea3;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Orbitron";
  font-size: 2rem;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767px) {
  .foot-h {
    font-size: 1.5rem;
  }
}

/* FOOTER -------------------------------------------------------------------------------------------------------*/
footer p {
  display: block;
  margin: auto;
}
footer img {
  color: white;
  font-size: 13px;
  display: block;
  margin: auto;
}
footer i {
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  color: #275ea3;
  font-size: 28px;
}
footer .facelink {
  margin: auto;
  display: block;
}
@media (max-width: 992px) {
  footer .facelink {
    margin-bottom: 15px !important;
  }
}
footer .facelink i {
  margin-right: 10px;
  font-size: 40px;
}
footer h4 {
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 15px;
  border-radius: 4px;
  font-family: "Orbitron";
  font-weight: bolder;
  color: #275ea3;
}
@media (max-width: 767px) {
  footer h4 {
    margin-top: 0;
  }
}
footer .foot-div {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer a:hover,
footer a i:hover {
  color: #ff0047;
}

#prava {
  color: rgb(188, 230, 244);
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
}

.con-card {
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
@media (max-width: 992px) {
  .con-card {
    margin: 8px;
    padding: 8px;
  }
}

.con-item {
  margin-bottom: 15px;
}
.con-item h6 {
  font-family: "Orbitron";
  color: #275ea3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
.con-item a,
.con-item p,
.con-item address {
  display: block;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 992px) {
  .mail a {
    font-size: 13px;
  }
}

#mapa {
  z-index: 0;
  width: 100%;
  border-radius: 6px;
}
@media (max-width: 767px) {
  #mapa {
    width: 100%;
  }
}
#mapa iframe {
  border-radius: 6px;
  box-sizing: border-box;
  height: 370px;
  width: 100%;
  margin: auto;
  border: none;
}

.dev-brend {
  position: relative;
  box-shadow: rgba(9, 5, 43, 0.38) 0px 3px 0px inset, rgba(9, 5, 43, 0.39) -3px -1px 10px 3px, rgba(9, 5, 43, 0.14) 0px -7px 2px -7px;
  background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.03), transparent 3px), linear-gradient(45deg, rgba(46, 127, 240, 0.73), rgba(103, 228, 243, 0.86)), url(../img/12.jpg);
}
.dev-brend img {
  margin-top: 10px;
  width: 180px;
}/*# sourceMappingURL=footer.css.map */