@import "variables";
#hero {
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: 22;
    display: flex;
    box-shadow: $largescreen;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-image: linear-gradient(45deg, rgba(46, 127, 240, 0), rgb(12 45 79 / 12%)), url(../img/bek10.gif);

    @media (max-width: 1023px) {
        margin-top: 0;
    }
    @media (max-width: 992px) {
    }
    .screen {
        box-shadow: rgb(9 5 43 / 61%) 0px 2px 4px, rgb(9 5 43 / 50%) 0px 7px 13px -3px,
            rgb(9 5 43 / 42%) 0px -3px 0px inset, rgb(9 5 43 / 71%) -3px 11px 33px 4px;
        background: rgb(18 14 71 / 47%);
        height: 100%;
        width: 100%;
        margin: auto;
        @media (max-width: 1024px) {
            display: flex;
        }
    }
    .logoparaph {
        letter-spacing: 3.2px;
        @media (max-width: 1284px) {
            font-size: 49px;
        }
        @media (max-width: 767px) {
            font-size: 22px;
        }
        @media (min-width: 1285px) {
            font-size: 63px;
        }
        &:first-of-type {
            margin-top: -3%;
            margin-bottom: -3%;
            @media (max-width: 992px) {
                margin-bottom: -1%;
            }
        }
        &:last-of-type {
            @media (max-width: 1284px) {
                font-size: 34px;
            }
            @media (max-width: 767px) {
                font-size: 19px;
            }
            @media (min-width: 1285px) {
                font-size: 49px;
            }
        }
        i {
            font-size: 18px !important;
            margin-left: 9px;
            margin-right: -14px;
            @media (max-width: 1280px) {
                font-size: 13px !important;
                margin-left: 6px;
                margin-right: -11px;
            }
            @media (max-width: 767px) {
                font-size: 8px !important;
                margin-left: 2px;
                margin-right: -4px;
            }
        }
        .fa-minus {
            &::before {
                top: -12px;
                position: relative;
                @media (max-width: 1280px) {
                    top: -7px;
                }
                @media (max-width: 767px) {
                    top: -3px;
                }
            }
        }
    }
}
.title-logo-holder {
    opacity: 0;
    margin-bottom: 2.5%;
}
.title-wrap {
    @media (min-width: 1024px) {
        margin-right: 4%!important;
    }
}
.title-info {
    opacity: 0;
}
.title-info-style {
    text-align: center!important;
    color: white;
    margin-bottom: 0;
    text-align: center;
    font-size: 26px;
    // opacity: 0;
    font-family: "Play";
    @media (max-width: 1284px) {
        font-size: 21px;
    }
    @media (max-width: 1024px) {
        font-size: 18px;
    }
    @media (max-width: 992px) {
        margin-left: 0!important;
    }
    @media (max-width: 767px) {
        font-size: 16px;
        margin-left: 0!important;
    }
}
@keyframes anima-hero {
    0% {
        transform: rotateX(90deg) rotateY(0deg);
        // opacity: 0;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
        // opacity: 1;
    }
}

.anima-hero {
    animation: anima-hero 1.2s forwards 0s linear;
}
@keyframes h1-anima {
    0% {
        transform: rotateX(90deg) rotateY(0deg) scale(0.4) translateY(150px);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
        opacity: 1;
    }
}

.h1-anima {
    animation: h1-anima 0.8s forwards 0.44s linear;
}

@keyframes nav-anima {
    0% {
        transform: translateX(100%);
        pointer-events: none;
        // height: 0;
        opacity: 0 !important;
    }
    100% {
        transform: translateX(0);
        // height: auto;
        opacity: 1;
    }
}

.nav-anima {
    animation: nav-anima 0.3s forwards 0s linear;
}

@keyframes title-anima {
    0% {
        transform: skewX(270deg);
        pointer-events: none;
        // height: 0;
        // opacity: 0 !important;
    }
    90% {
        transform: skewX(273deg);
        pointer-events: none;
        // height: 0;
        opacity: 0 !important;
    }
    100% {
        transform: skewX(360deg);
        // height: auto;
        opacity: 1;
    }
}

.title-anima {
    animation: title-anima 0.017243s forwards 0.4s linear;
}
@keyframes title-anima2 {
    0% {
        transform: skewX(0deg);
        pointer-events: none;
        // height: 0;
        // opacity: 0 !important;
    }
    90% {
        transform: skewX(88deg);
        pointer-events: none;
        // height: 0;
        opacity: 0 !important;
    }
    100% {
        transform: skewX(0.001deg);
        // height: auto;
        opacity: 1;
    }
}

.title-anima2 {
    animation: title-anima2 0.017243s forwards 0.1s linear;
}
