@import "variables";
.navbar {
    display: none;
    padding: 0;
    margin: 0;
    transition: all 0.9s;
    background-position: left bottom;
    background-image: $mainback;
    box-shadow: rgb(9 5 43 / 61%) 0px 2px 4px, rgb(9 5 43 / 66%) 0px 7px 2px -7px, rgb(9 5 43 / 59%) 0px -3px 0px inset,
        rgb(9 5 43 / 71%) -3px -1px 6px 4px;
    img {
        height: 100%;
        margin-right: 3px;
    }
    .navbar-brand {
        padding: 0 !important;
        flex-direction: column;
        display: flex;
        height: 100%;
        @media (max-width: 376px) {
            margin-right: 0;
        }
    }
    .navbar-toggler {
        margin-right: 15px;
        margin-left: auto;
        padding: 0 !important;
        font-size: 1.5rem;
        @media (max-width: 767px) {
            margin-right: 5px;
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(83, 15, 234)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    button:focus {
        outline: none !important;
    }
    .title-phone {
        color: white;
        @media (max-width: 767px) {
        }
        @media (max-width: 767px) {
            #hide-phone {
                font-size: 10px;
            }
        }
        h3 {
            font-family: "Play";
            font-style: italic;
            color: $svetloplava;
            margin: auto;
            margin-left: 0;
            @media (max-width: 375px) {
                font-size: 13px;
            }
            @media (min-width: 376px) {
                font-size: 1.15rem;
            }
            @media (min-width: 992px) {
                font-size: 1.7rem;
            }
        }
    }
}
#logo {
    display: flex;
    height: 63px;
    @media (max-width: 920px) {
        height: 50px;
    }
    @media (max-width: 767px) {
        h2 {
            font-size: 1.2rem;
        }
    }
    @media (max-width: 375px) {
        height: 35px;
    }
    h1 {
        font-size: 16px;
    }
    p {
        letter-spacing: 2.2px;
        padding-left: 8px;
        font-size: 14px;
        @media (min-width: 1281px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 375px) {
            font-size: 9px;
        }
        &:last-of-type {
            font-size: 12px;
            @media (min-width: 1281px) {
                font-size: 15px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
            @media (max-width: 375px) {
                font-size: 7px;
            }
        }
        i {
            font-size: 8px;
            margin-left: 4px;
            @media (max-width: 1280px) {
                margin-left: 2px;
            }
            @media (max-width: 375px) {
                font-size: 6px;
            }
        }
        .fa-minus {
            &::before {
                top: -3px;
                position: relative;
                @media (max-width: 1280px) {
                    top: -1px;
                }
            }
        }
    }
}

.navbar-collapse {
    position: relative;
}
.navbar-nav {
    align-items: center;
    @media (max-width: 992px) {
        padding: 20px 0;
    }
    .aktivna {
        box-shadow: $box-shadow-active !important;
        background: $lightback !important;
        color: #09052b !important;
        @media (max-width: 992px) {
            border-radius: 3px;
        }
    }
    li.nav-item {
        text-align: center;
        font-family: "Play";
        margin: 3px;
        border-radius: 4px;
        width: 100px;
        background: #3184cf;
        color: white;
        box-shadow: $box-shadow-main;
        &:hover {
            background: $lightback !important;
            box-shadow: $box-shadow-active;
            color: #09052b;
            cursor: pointer;
        }

        @media (min-width: 1024px) {
            &:last-of-type {
                margin-right: 0;
            }
        }
        @media (max-width: 767px) {
            padding: 2px 2px;
            margin: 3px 20px;
            list-style: none;
        }
        @media (max-width: 992px) {
            width: 50%;
            font-size: 14px;
        }
    }
}
.logoparaph {
    margin-bottom: 0;
    font-style: italic;
    font-family: "Neutrons";
    text-transform: uppercase;
    color: #dbebf7;
    font-weight: bold;
    text-align: center;
    text-shadow: -4px 3px 0 #095a96c9, -2px 1px 0 #095a96c9, -4px 2px 0 #095a96c9, 0 0 10px #ffffff;
}
.nav-holder {
    position: relative;
}
.dropdown-menu {
    cursor: pointer;
    position: absolute;
    left: auto;
    right: 0px;
    display: none;
    padding: 0;
    padding-bottom: 4px;
    border: none;
    font-size: 1rem;
    color: white;
    text-align: left;
    background-color: #3184cf;
    border-radius: 4px;
    box-shadow: rgb(9 5 43 / 61%) 0px 2px 4px, rgb(9 5 43 / 66%) 0px 7px 12px -3px, rgb(9 5 43 / 59%) 0px -3px 0px inset,
        rgb(9 5 43 / 71%) -3px 30px 73px 4px;

    a {
        color: white;
        padding: 5px 20px;
        border-radius: 4px;
        width: 100%;
    }
    li {
        padding: 0;
    }
    @media (max-width: 1024px) {
        right: 3.1%;
    }
}
.dropleft .dropdown-menu {
    margin: 0 -6px 0 0;
    border-radius: 6px;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
}
.admin-linkovi {
    position: absolute;
    width: 100px;
    right: 15px;
    i {
        font-size: 24px;
    }
}
