/* generalna podesavanja*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Orbitron|Play|Squada+One|Ubuntu&display=swap');
@font-face {
    font-family: 'Neutrons';
    src: url(NeutronsDemoRegular.ttf) format('truetype');
}
:root {
    --crna: rgba(11, 12, 16, 1);
    --crvena: #ff0047;
    --svetlosiva: rgba(197, 198, 200, 1);
    --siva: rgba(32, 40, 51, 1);
    --plava: #275ea3;
    --svetloplava: rgb(188, 230, 244);
    --mainback:#09052b;
    --backzakartice: #09052bcf;
    --ljuba: rgb(83, 15, 234);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Play";
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    background-image: url(../img/12.jpg);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: url(../img/white1.jpg) repeat; */
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.backlight {
    background-color: rgba(255, 255, 255, 0.966);
}

.backdark {
    background-color: rgb(75, 75, 78);
}

.myshadow {
    box-shadow: 0 15px 18px 0 rgba(56, 56, 102, 0.7);
}

.myshadowsmall {
    box-shadow: 0 2px 5px 0 rgba(56, 56, 102, 0.4);
}

/* MAIN */


.bg-img2 {
    background-image: url(../img/mx500.png);
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.bg-img2::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

section.bg-img2>* {
    position: relative;
    z-index: 2;
}

section {
    position: relative;
}

.main-div {
    padding-top: 70px;
    padding-bottom: 50px;
}

#main {
    /* margin-top: 65px; */
    position: relative;
    /* padding-top: 40px;
    padding-bottom: 20px; */
    width: 100%;
}







#main h3 {
    /* border-bottom: 3px solid black; */
    text-shadow: 2px 2px 2px #02061a, 2px 0px 2px #02061a;
    font-weight: bolder;
    color: #f5f5f5;
}


/* ABOUT ---------------------------------------------------------------------------------------------------------*/




/* PARTNERI -------------------------------------------------------------------------------------------------------*/


/* Products page ---------------------------------------------------------------------------------------*/

#naslovP {
    margin-top: 50px;
    font-size: 1.5rem;
}

/* div.offset-md-1.backlight {
    margin-top: 33px;
    border-top: 3px solid var(--plava);
} */

.product-card-big {
    margin: 10px 0;
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
    padding: 10px;
}

.product-card-big h4 {
    font-family: "Play";
    font-weight: bold;
    margin: 25px 0;
}

.product-card-big h6 {
    margin: 25px 0;
}

ul {
    list-style-type: "★";
}

.product-card-big ul li:before {
    content: "★";
    padding-right: 8px;
}

.product-card-big ul,
.product-card-small ul {
    font-weight: bold;
    list-style-type: none;
    padding: 5px;
}

.product-card-big p {
    margin: 25px 0;
}

.product-card-big img {
    width: 400px;
}

.product-card-small {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.product-card-small img {
    margin-top: 10px;
    width: 150px;
}

.product-card-small h4 {
    font-family: "Play";
    font-weight: bold;
}

.product-card-small h6 {
    margin-top: 8px;
}

.product-card-small p {
    margin: 15px 0 10px 0;
}

.product-card-small div.d-flex {
    border-bottom: 1px dotted black;
    margin-bottom: 10px;
}

.product-card-small ul li:before {
    content: "★";
    padding-right: 8px;
}

.product-card-small.backlight {
    border-radius: 2px;
    box-shadow: 5px 4px 27px -6px rgba(100, 100, 100, .2);
    /* box-shadow: 2px 0 18px 1px rgba(100, 100, 100, .2); */
}


p.alert {
    margin-top: 70px;
    z-index: 500000000000;
}

a:focus {
    -webkit-tap-highlight-color: transparent !important;
}

a:focus {
    outline: none !important;
}

.pagination-links {
    margin: 30px 0;
}

a.pagination-links,
.pagination li.active a {
    padding: 5px;
    margin: 2px;
    background: #f4f4f4;
    border: 1px solid #ccc;
}

.pagination li.active a {
    background: #27272eb8;
    color: white;
    /* border: 1px solid #ccc; */
}

.info {
    background-color: var(--backzakartice);
    padding: 5px 10px;
    border-radius: 4px;
}


/* podesavanja za telefon ---------------------------------------------------------------------------------------*/


/* extra small devices*/

@media(min-width: 1200px) {
    #main div.main-menu ul li a {
        font-size: 16px !important;
    }
}


@media (max-width: 1025px) {
   
    .team-card {
        width: 48%;
    }

    ul#menu-ul {
        width: 100%;
    }

    nav div#logingsistem.row {
        display: none;
    }

}

@media (max-width: 1023px) {
    
    .product-card-big div.d-flex,
    .product-card-small div.d-flex {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
   
    #main div.main-menu ul li a {
        font-size: 14px;
    }
}


/*Small devices (up to 768px) -----------------------------------------------------------------------*/

@media (max-width: 767px) {
    
    a {
        cursor: default;
    }
    
    ul.sub-cat-menu {
        position: relative;
        margin: 2px;
    }

    .product-card-big img {
        width: 250px;
    }

    .product-card-small h4 {
        margin-bottom: 10px;
    }

    .product-card-big div.d-flex img {
        height: 200px;
    }

    body {
        font-size: 11px;
    }
    
    h2 {
        font-size: 1.45rem;
    }

    main h3 {
        font-size: 1.15rem;
    }
    

    .main-div {
        padding-bottom: 20px;
        padding-top: 20px;
    }

  

   

    div.col h4 {
        padding: 0;
        height: auto;
    }

    #main div.col img {
        width: unset;
    }
    

    .owl-carousel img {
        width: 110px;
        height: 35px;
    }

    div.owl-stage-outer {
        margin-left: 2px;
        margin-right: 2px;
    }



   
   


    #menu-ul {
        width: 100% !important;
        margin: 10px auto 10px auto;
    }

    #naslov {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    div.cookieinfo {
        width: 100%;
    }
}